.banner{
    display: flex;
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 15px;
   
}
.banner-content{
    margin-top: 80px;
    margin-left: 100px;
}
.banner-greetings-dark-2{
color: #0E0E0E;
margin-bottom: 16px;
}
.btn-primary{
    color: #FFFFFF;
    width: 270px;
    height: 54px;
    background-color: green;
}
.banner-title{
    margin-bottom: 16px;



}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: 18;
}

.image-title{
    width: 474px;
    height: 400px;
    margin-top: 80px;
  margin-right: 100px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
}
.plan1{
    background-color: #5490F5;

    margin:32px 24px 24px 24px;
    width: 310px;
    height: 291px;
    border-radius: 16px;
    padding: 32px;
}
.plan2{
    background-color: #09A15C;
    margin:32px 24px 24px 24px;
    width: 310px;
    height: 291px;
    border-radius: 16px;
    padding: 32px;
}
.plan3{
    background-color: #FFC239;
    margin:32px 24px 24px 24px;
    width: 310px;
    height: 291px;
    border-radius: 16px;
    padding: 32px;
}
.btn-primary1{
    color: #FFFFFF;
background-color: #5490F5;
}
.btn-primary2{
background-color: #09A15C;
color: #FFFFFF;
}
.btn-primary3{

    background-color: #5490F5;
    color: #FFFFFF;
}